*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(192, 167, 113);
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 60px;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    justify-content: space-between;
    margin-left: 16px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    padding: 20px;
}

.menu ul li a:hover{
    background-color: rgb(221, 202, 138);
    box-shadow: inset;
}
h1{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.0;

}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 03px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 07px;
    padding: 03%;
    line-height: 1.7;
}

.Adaimg{
    margin: 30px;
    padding: 20px;
    text-align: center;
    max-width: 100%;
}

.imagem1{
    margin: 30px;
    padding: 20px;
    text-align: center;
    max-width: 100%;
}

.imagem2{
    margin: 30px;
    padding: 20px;
    text-align: center;
    max-width: 100%;
}

.VM{
    margin: auto;
    height: 2.5rem;
    text-align: center;
}
